/* Atomic */
.margin-bt-16 {
  margin-bottom: 16px;
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

.hide-for-small {
  display: block;
  @media screen and (max-width: 767px){
    display: none;
  }
}

.show-for-small {
  display: none;
  @media screen and (max-width: 767px){
    display: block;
  }
}
