* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.row {
  display: block;
  width: 1120px;
  max-width: 100%;
  margin: 0 auto;
}

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .column {
  padding: 0;
}

.row.gap-0_5x > .column {
  padding: 0px 5px;
}

.column {
  display: block;
  float: left;
  min-height: 1px;
  padding: 0 0.66667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

[class*="column"] + [class*="column"].size1of1:last-child {
  float: none;
}

.size1of1 {
  float: none;
}

.size1of2 {
  width: 50%;
}

.size1of3 {
  width: 33.333333%;
}

.size2of3 {
  width: 66.666666%;
}

.size1of4 {
  width: 25%;
}

.size3of4 {
  width: 75%;
}

.size1of5 {
  width: 20%;
}

.size2of5 {
  width: 40%;
}

.size3of5 {
  width: 60%;
}

.size4of5 {
  width: 80%;
}

.size1of6 {
  width: 16.666666%;
}

.size5of6 {
  width: 83.333333%;
}

.size1of7 {
  width: 14.285714%;
}

.size2of7 {
  width: 28.571428%;
}

.size3of7 {
  width: 42.857142%;
}

.size4of7 {
  width: 57.142856%;
}

.size5of7 {
  width: 71.42857%;
}

.size6of7 {
  width: 85.714284%;
}

/* Mobil */
@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0
  }

  td img {
    max-width: 100%
  }

  .row {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0
  }

  .column {
    width: auto !important
  }

  .column,[class*="column"]+[class*="column"]:last-child,[class*="column"]+[class*="column"].end:last-child,[class*="column"]+[class*="column"].end {
    float: none
  }

  .mobile-lock>[class*="column"]+[class*="column"]:last-child {
    float: right
  }

  .mobile-lock>.column,.mobile-lock>[class*="column"]+[class*="column"].end,.mobile-lock>[class*="mobile-size"].column {
    float: left
  }

  .mobile-lock .size1of1 {
    float: none
  }

  .mobile-lock>.size1of2,.row.mobile-lock>.mobile-size1of2 {
    width: 50% !important
  }

  .mobile-lock>.size1of3,.row.mobile-lock>.mobile-size1of3 {
    width: 33.333333% !important
  }

  .mobile-lock>.size2of3,.row.mobile-lock>.mobile-size2of3 {
    width: 66.666666% !important
  }

  .mobile-lock>.size1of4,.row.mobile-lock>.mobile-size1of4 {
    width: 25% !important
  }

  .mobile-lock>.size3of4,.row.mobile-lock>.mobile-size3of4 {
    width: 75% !important
  }

  .mobile-lock>.size1of5,.row.mobile-lock>.mobile-size1of5 {
    width: 20% !important
  }

  .mobile-lock>.size2of5,.row.mobile-lock>.mobile-size2of5 {
    width: 40% !important
  }

  .mobile-lock>.size3of5,.row.mobile-lock>.mobile-size3of5 {
    width: 60% !important
  }

  .mobile-lock>.size4of5,.row.mobile-lock>.mobile-size4of5 {
    width: 80% !important
  }

  .mobile-lock>.size1of6,.row.mobile-lock>.mobile-size1of6 {
    width: 16.666666% !important
  }

  .mobile-lock>.size5of6,.row.mobile-lock>.mobile-size5of6 {
    width: 83.333333% !important
  }

  .mobile-lock>.size1of7,.row.mobile-lock>.mobile-size1of7 {
    width: 14.285714% !important
  }

  .mobile-lock>.size2of7,.row.mobile-lock>.mobile-size2of7 {
    width: 28.571428% !important
  }

  .mobile-lock>.size3of7,.row.mobile-lock>.mobile-size3of7 {
    width: 42.857142% !important
  }

  .mobile-lock>.size4of7,.row.mobile-lock>.mobile-size4of7 {
    width: 57.142856% !important
  }

  .mobile-lock>.size5of7,.row.mobile-lock>.mobile-size5of7 {
    width: 71.42857% !important
  }

  .mobile-lock>.size6of7,.row.mobile-lock>.mobile-size6of7 {
    width: 85.714284% !important
  }

  .row.mobile-lock .mobile-size1of1 {
    width: auto !important
  }

  .column:before,.column:after {
    content: "";
    display: table
  }

  .column:after,.columns:after {
    clear: both
  }
}